### 1) Pandas fillna()
### 2) Parameters of fillna()
### 3) fillna value
### 4) fillna method
### 5) fillna axis
### 6) fillna inplace
### 7) fillna limit

In [1]:
import pandas as pd
df=pd.read_csv('csv_files/Fortune_10.csv')
df

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,6,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,8,Kayelectronics,NaN,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [3]:
df.fillna({'Companies':'none','Growth':0})

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,none,2009,"$10,573,990","7,435,363 Dollars",3138627,0
5,6,Techline,none,2006,"$13,898,119","5,470,303 Dollars",8427816,0
6,7,Cityace,none,2010,"$9,254,614","6,249,498 Dollars",3005116,0
7,8,Kayelectronics,none,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [6]:
df.fillna(method='ffill') # forward fill

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,26%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,26%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,26%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [8]:
# backward fill
df.fillna(method='bfill')

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,4%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,4%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,4%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","5,635,276 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [10]:
df.fillna(axis=0,method='ffill')

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,26%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,26%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,26%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [11]:
df.fillna(axis=1,method='ffill')

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Techdrill,2009,"$10,573,990","7,435,363 Dollars",3138627,3138627
5,6,Techline,Techline,2006,"$13,898,119","5,470,303 Dollars",8427816,8427816
6,7,Cityace,Cityace,2010,"$9,254,614","6,249,498 Dollars",3005116,3005116
7,8,Kayelectronics,Kayelectronics,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","$14,001,180",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [12]:
df.fillna(axis=1,method='bfill')

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,2009,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,6,Techline,2006,2006,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,7,Cityace,2010,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,8,Kayelectronics,2009,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",11901180,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [14]:
df.fillna(0,limit=2)

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,0,2009,"$10,573,990","7,435,363 Dollars",3138627,0
5,6,Techline,0,2006,"$13,898,119","5,470,303 Dollars",8427816,0
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,8,Kayelectronics,NaN,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",0,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [15]:
df.fillna(method='ffill',limit=2)

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,26%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,26%
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,8,Kayelectronics,NaN,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [18]:
df.fillna(5,inplace=True)
df

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,5,2009,"$10,573,990","7,435,363 Dollars",3138627,5
5,6,Techline,5,2006,"$13,898,119","5,470,303 Dollars",8427816,5
6,7,Cityace,5,2010,"$9,254,614","6,249,498 Dollars",3005116,5
7,8,Kayelectronics,5,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",5,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [19]:
df

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,5,2009,"$10,573,990","7,435,363 Dollars",3138627,5
5,6,Techline,5,2006,"$13,898,119","5,470,303 Dollars",8427816,5
6,7,Cityace,5,2010,"$9,254,614","6,249,498 Dollars",3005116,5
7,8,Kayelectronics,5,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",5,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%